doctype html
html
  head
    meta(http-equiv="content-type" content="text/html;charset=utf-8")
    meta(content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport")
    meta(content="yes" name="apple-mobile-web-app-capable")
    meta(content="black" name="apple-mobile-web-app-status-bar-style")
    meta(content="telephone=no" name="format-detection")
    meta(content="email=no" name="format-detection")
    title TCS
    link(rel="stylesheet" href="./index.css")
  body
    .groundCon#mainCon
      canvas#ground
    .infoCon 分数：
      span.score#J_score 0
      span &nbsp;   &nbsp;  &nbsp;     时间：
      span.time#J_time 00:00:00
    .controlCon
      .pauseBtn
      .up.J_directionBtn(title="38")
        .arraw
      .down.J_directionBtn(title="40")
        .arraw
      .left.J_directionBtn(title="37")
        .arraw
      .right.J_directionBtn(title="39")
        .arraw

    script(type="text/javascript" src="./main.js")