body,html
  margin 0
  padding 0
  height 100%
  width 100%
  background-color #eee
.groundCon
  width 100%
  position relative
// .ground
//   width 320px
//   height 320px
//   background-color #32c532
//   position relative
//   box-sizing  border-box
//   border-top 1px solid rgba(24, 139, 51, 0.3)
//   border-left 1px solid rgba(24, 139, 51, 0.3)
//   margin 20px auto 0 auto
// .row
//   width 100%
//   height 16px
//   border-bottom 1px solid rgba(24, 139, 51, 0.3)
//   box-sizing  border-box
// .col
//   width 16px
//   height 100%
//   border-right 1px solid rgba(24, 139, 51, 0.3)
//   box-sizing  border-box
//   position  absolute
//   top 0
.controlCon
  width 150px
  height 150px
  border-radius  150px
  background-color #272822
  margin 30px auto 0 auto
  position  relative
  box-shadow  2px 0px 40px #cccccc inset
.pauseBtn
  width 60px
  height 60px
  border-radius  60px
  background-color #cccccc
  border 2px solid #cccccc
  position  absolute
  top 45px
  left 45px
  box-sizing  border-box
  box-shadow  2px 0px 33px rgba(204, 204, 204, 0.7)
.up,.down
  width 60px
  height 45px
  position  absolute
  left 45px
.up
  top 0
.down
  bottom 0
.left,.right
  width 45px
  height 60px
  position  absolute
  top 45px
.left
  left 0
.right
  right 0
.arraw
  width  0
  height  0
  border  10px solid transparent
  display  block
.up .arraw
  border-bottom  15px solid rgba(255, 255, 255, 0.73)
  margin  3px 0 0 20px
.down .arraw
  border-top  15px solid rgba(255, 255, 255, 0.73)
  margin  15px 0 0 20px
.left .arraw
  border-right  15px solid rgba(255, 255, 255, 0.73)
  margin  21px 0 0 2px
.right .arraw
  border-left  15px solid rgba(255, 255, 255, 0.73)
  margin  20px 0 0 20px
.box
  width 16px
  height 16px
  background-color  #faed08
  position  absolute
  left 16px
  top 16px